.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-left: 7px;
  padding-right: 7px;
}
.row {
  margin-right: -7px;
  margin-left: -7px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0;
}
.container {
  padding-right: 7px;
  padding-left: 7px;
}
html,
.wrapper {
  height: 100%;
}
body {
  background: #efefef none repeat scroll 0 0;
  height: 100%;
}
.wrapper {
  padding: 0 0 40px 0;
}
.container {
  width: 1170px;
}
.textButton {
  color: #353535;
  font-family: "Arial";
  font-size: 13px;
  font-weight: 400;
  text-transform: none;
}
.kendoSelect {
  color: #353535;
  font-family: "Arial";
  font-size: 13px;
  font-weight: 400;
}
.phone {
  background: url("../img/icon-sprite.png") 10px -26px no-repeat transparent;
  padding: 0 0 0 30px;
  color: #A0A0A0;
  font-family: "Arial";
  font-size: 13px;
  font-weight: 400;
}
.mail {
  background: url("../img/icon-sprite.png") 10px 0 no-repeat transparent;
  padding: 0 0 0 30px;
  color: #A0A0A0;
  font-family: "Arial";
  font-size: 13px;
  font-weight: 400;
}
.header {
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
}
.header .page-title {
  color: #A0A0A0;
  font-family: "Arial";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}
.header .admin-contacts {
  color: #A0A0A0;
  font-family: "Arial";
  font-size: 13px;
  font-weight: 400;
  margin: 10px 0 0 0;
}
.header .header-controls {
  margin-top: 20px;
}
.header .header-controls .k-widget.k-dropdown {
  width: 77%;
  margin: 0 10px 0 0;
}
.header .header-menu-container {
  margin-top: 18px;
}
.header-menu .k-item > .k-link {
  width: 144.5px;
  padding: 1.071em 0px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.header-menu a {
  color: #343434 !important;
  font-family: "Arial";
  font-size: 13px;
  font-weight: 400;
}
.header-menu .alerts {
  color: #E1001D;
  font-family: "Arial";
  font-size: 10px;
  font-weight: 700;
  width: 17px;
  height: 17px;
  border: 1.5px solid #E1001D;
  border-radius: 9px;
  position: absolute;
  right: 7px;
  top: 12px;
  text-align: center;
  line-height: 17px;
}
.content .alerts-container {
  margin-top: 17px;
}
.content .alerts-container .elert-item {
  background: #FFF none repeat scroll 0% 0%;
  margin: 1px 0px;
  position: relative;
  padding: 0px 11px 0px 37px;
  line-height: 36px;
  height: 36px;
  vertical-align: middle;
  font-size: 1px;
}
.content .alerts-container .elert-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 100%;
  border-right: 1px solid #efefef;
  background: url("../img/alerts-sprite.png") 10px 9px no-repeat transparent;
}
.content .alerts-container .elert-item.task:before {
  background-position: -90px 9px;
}
.content .alerts-container .elert-item.important:before {
  background-position: -40px 9px;
}
.content .alerts-container .elert-item.link:before {
  background-position: 10px 9px;
}
.content .alerts-container .elert-item .alert-text {
  padding: 0px 0px 0px 15px;
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
  line-height: 15px;
}
.content .alerts-container .elert-item .close-alert {
  display: inline-block;
  width: 18px;
  background: transparent url("../img/alerts-sprite.png") no-repeat scroll 0px -29px;
  float: right;
  height: 18px;
  text-decoration: none;
  text-indent: -99px;
  overflow: hidden;
  margin: 8px 0 0 16px;
}
.content .alerts-container .elert-item .recall-alert {
  display: inline-block;
  width: 18px;
  background: transparent url("../img/alerts-sprite.png") no-repeat scroll -50px -29px;
  float: right;
  height: 18px;
  text-decoration: none;
  color: transparent;
  margin: 8px 0 0 16px;
  position: relative;
}
.content .alerts-container .elert-item .recall-alert:hover .recall-time {
  display: block;
}
.content .alerts-container .elert-item .recall-alert .recall-time {
  position: absolute;
  display: none;
  right: 0px;
  top: 18px;
  width: 100px;
  border: 1px solid #CCC;
  margin: 0px;
  padding: 0;
  z-index: 2;
}
.content .alerts-container .elert-item .recall-alert .recall-time li {
  line-height: 15px;
  border-bottom: 1px solid #CCC;
  background: #ffffff;
  padding: 0px 5px;
  text-align: center;
}
.content .alerts-container .elert-item .recall-alert .recall-time a {
  font-size: 13px;
  color: #353535;
  text-decoration: none;
}
.content .alerts-container .elert-item:last-child {
  margin-bottom: 17px;
}
.content .sortable {
  display: table;
  margin: 0 0 20px;
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  padding: 20px 10px 0;
}
.content .sortable .sortable-col {
  display: table-cell;
  margin: 0;
  vertical-align: top;
  float: none;
  padding: 0 10px;
}
.drag-widget {
  margin: 0 0 20px 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  cursor: move;
}
.drag-widget:hover {
  background-color: #fcfcfc;
  border-color: #cccccc;
}
.drag-widget.placeholder {
  opacity: 0.4;
  border: 1px dashed #a6a6a6;
}
.drag-widget .widget-content {
  padding: 10px;
  min-height: 50px;
}
.drag-widget h3 {
  font-size: 12px;
  padding: 8px 10px;
  text-transform: uppercase;
  border-bottom: 1px solid #e7e7e7;
}
.drag-widget h3 span {
  float: right;
}
.drag-widget h3 span:hover {
  cursor: pointer;
  background-color: #e7e7e7;
  border-radius: 20px;
}
.drag-widget.profile .photo {
  display: inline-block;
  vertical-align: top;
}
.drag-widget.profile .photo img {
  display: block;
}
.drag-widget.profile .profile-info {
  display: inline-block;
  vertical-align: top;
}
.drag-widget.profile .profile-info p {
  margin: 0;
  padding: 0;
}
.drag-widget.profile .profile-info p.name {
  font-weight: 700;
}
.drag-widget.medicine .item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 115px;
  padding: 0 0 5px 0;
}
.drag-widget.medicine .item item-img {
  text-align: center;
}
.drag-widget.salary .item {
  display: block;
}
.drag-widget.info .item {
  display: block;
}
.drag-widget.assessment .item {
  display: block;
}
.footer {
  color: #989898;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0px;
  height: 40px;
  margin: -40px 0px 0px;
  box-sizing: border-box;
}
